.counterContainer {
  display: flex;
  flex-direction: row;
}

.counter1 {
  width: 16px;
  height: 28px;
}
.counter2 {
  width: 16px;
  height: 28px;
}
.counter3 {
  width: 16px;
  height: 28px;
}

.number-n {
  background-image: url("../../../assets/images/time-.gif");
}
.number-0 {
  background-image: url("../../../assets/images/time0.gif");
}
.number-1 {
  background-image: url("../../../assets/images/time1.gif");
}
.number-2 {
  background-image: url("../../../assets/images/time2.gif");
}
.number-3 {
  background-image: url("../../../assets/images/time3.gif");
}
.number-4 {
  background-image: url("../../../assets/images/time4.gif");
}
.number-5 {
  background-image: url("../../../assets/images/time5.gif");
}
.number-6 {
  background-image: url("../../../assets/images/time6.gif");
}
.number-7 {
  background-image: url("../../../assets/images/time7.gif");
}
.number-8 {
  background-image: url("../../../assets/images/time8.gif");
}
.number-9 {
  background-image: url("../../../assets/images/time9.gif");
}
